# Connexion to redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Connexion to mongodb
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=sth

# Connexion to neo4j cloud
NEO4J_URI=Insert_your_uri_here
NEO4J_USER=Insert_your_username_here
NEO4J_PASSWORD=Insert_your_password_here
